---
pagination:
  data: records_by_tag
  size: 1
  alias: tag
  addAllPagesToCollections: true
permalink: "/tags/{{ tag.key }}/"
layout: base.liquid
eleventyComputed:
  title: "{{ tag.key }}"
---

<a href="/tags">Liste des tags</a>

<article>
  <header>
    <h1>{{ tag.key }}</h1>
  </header>

  <ul>
    {% for record in tag.records %}
      <li><a href="/records/{{ record.id }}">{{ record.title | frenchQuotes }}</a></li>
    {% endfor %}
  </ul>
</article>
