---
pagination:
  data: records_by_book
  size: 1
  alias: book
  addAllPagesToCollections: true
permalink: "/books/{{ book.bookKey }}/"
layout: base.liquid
eleventyComputed:
  title: "{{ book.bookKey }}"
---

<article>
  <header>
    <h1>{{ book.bookKey }}</h1>
  </header>

  <ul>
  {% for quote in book.quotes %}
    <li>
      <p class="toto">{{ quote.locator }}</p>
      <ul>
        {% for record in quote.records %}
          <li><a href="/records/{{ record.id }}">{{ record.title | frenchQuotes }}</a></li>
        {% endfor %}
      </ul>
    </li>
  {% endfor %}
  <ul>
</article>
