---
pagination:
  data: records
  size: 1
  alias: record
permalink: "/records/{{ record.id }}/"
layout: base.liquid
eleventyComputed:
  title: "{{ record.title }}"
---

<article>
  <header>
    <h1>{{ record.title }}</h1>
    {% if record.alias.size > 0 %}
    <h2>{{ record.alias | join: " • " }}</h2>
    {% endif %}
    <samp>line {{ record.line }}</samp>
  </header>

  <section class="prose">
    {{ record.description | frenchQuotes | links_html: record | bibliographyIndex: record | br_to_paragraph }}
  </section>

  <footer>
    {% if record.backlinks.size > 0 %}
      <section>
        <details open>
          <summary>Rétroliens ({{ record.backlinks.size }})</summary>
          <ul>
            {% for link in record.backlinks %}
              <li>
                <a href="/records/{{ link.id }}/">{{ link.title }}</a>
                {% if link.context.size > 0 %}
                  {%- for context in link.context -%}
                    <p class="prose">{{ context | frenchQuotes | bibliographyIndex: record }}</p>
                  {%- endfor -%}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </details>
      </section>
    {% endif %}

    {% if record.links.size > 0 %}
      <section>
        <details>
          <summary>Liens ({{ record.links.size }})</summary>
          <ul>
            {%- for link in record.links -%}
              <li><a href="/records/{{ link.id }}/">{{ link.title }}</a></li>
            {%- endfor -%}
          </ul>
        </details>
      </section>
    {% endif %}

    {% if record.deepLinks.size > 0 %}
    <section>
      <details>
        {% assign totalDeepLinks = 0 %}
        {% for depth in record.deepLinks %}
          {% assign totalDeepLinks = totalDeepLinks | plus: depth.size %}
        {% endfor %}

        <summary>Liens profonds ({{ totalDeepLinks }})</summary>
        <ol>
        {% for depth in record.deepLinks %}
          <li>
            <ul>
              {% for record in depth %}
              <li><a href="/records/{{ record.id }}/">{{ record.title }}</a></li>
              {% endfor %}
            </ul>
          </li>
          {% endfor %}
        </ol>
      </details>
    </section>
    {% endif %}

    <section>
      <details>
        <summary>Notes de bas de page</summary>
        {{ record.description | bibliographyFootnotes }}
      </details>
    </section>

    {% if record.tags.size > 0 %}
      <section>
        <details>
          <summary>Tags ({{ record.tags.size }})</summary>
          <ul>
            {%- for tag in record.tags -%}
              <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
            {%- endfor -%}
          </ul>
        </details>
      </section>
    {% endif %}

    {% if record.books.size > 0 %}
      <section>
        <details>
          <summary>Livres ({{ record.books.size }})</summary>
          <ul>
            {%- for book in record.books -%}
              <li><a href="/books/{{ book }}/">{{ book }}</a></li>
            {%- endfor -%}
          </ul>
        </details>
      </section>
    {% endif %}
  </footer>

</article>
