---
pagination:
  data: records
  size: 1
  alias: record
permalink: "/records/{{ record.id }}/"
layout: base.liquid
eleventyComputed:
  title: "{{ record.title }}"
---

<article>
  <header>
    <h1>{{ record.title }}</h1>
    {% if record.alias.size > 0 %}
    <h2 class="subtitle">{{ record.alias | join: " • " }}</h2>
    {% endif %}
    {% if record.type %}
      <p class="type">Type: {{ record.type }}</p>
      <p class="type">Ligne: <span class="monospace">{{ record.line }}</span></p>
    {% endif %}
  </header>

  <section class="description serif prose">
    {{ record.description | frenchQuotes | links_html: record.links | br_to_paragraph }}
  </section>

  <footer>
    {% if record.backlinks.size > 0 %}
      <section class="links">
        <details open>
          <summary>Rétroliens</summary>
          <ul>
            {% for link in record.backlinks %}
              <li>
                <a href="/records/{{ link.id }}/">{{ link.title }}</a>
                {% if link.context.size > 0 %}
                  {% for context in link.context %}
                    <p class="context serif">{{ context }}</p>
                  {% endfor %}
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        </details>
      </section>
    {% endif %}

    {% if record.links.size > 0 %}
      <section class="links">
        <details>
          <summary>Liens</summary>
          <ul>
            {% for link in record.links %}
              <li><a href="/records/{{ link.id }}/">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        </details>
      </section>
    {% endif %}

    {% if record.tags.size > 0 %}
      <section class="tags">
        <details>
          <summary>Tags</summary>
          <ul>
            {% for tag in record.tags %}
              <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </details>
      </section>
    {% endif %}

    {% if record.books.size > 0 %}
      <section class="links">
        <details>
          <summary>Livres</summary>
          <ul>
            {% for book in record.books %}
              <li><a href="/books/{{ book }}/">{{ book }}</a></li>
            {% endfor %}
          </ul>
        </details>
      </section>
    {% endif %}
  </footer>

</article>
