---
pagination:
  data: records
  size: 1
  alias: record
permalink: "/records/{{ record.id }}/"
layout: base.liquid
eleventyComputed:
  title: "{{ record.title }}"
---

<article>
  <header>
    <h1>{{ record.title }}</h1>
    {% if record.type %}
      <p class="type">Type: {{ record.type }}</p>
    {% endif %}
  </header>

  <section class="description">
    {{ record.description | newline_to_br }}
  </section>

  {% if record.tags.size > 0 %}
    <section class="tags">
      <h2>Tags</h2>
      <ul>
        {% for tag in record.tags %}
          <li><a href="/tags/{{ tag }}">{{ tag }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if record.links.size > 0 %}
    <section class="links">
      <h2>Liens</h2>
      <ul>
        {% for link in record.links %}
          <li><a href="/records/{{ link }}/">{{ link }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}

  {% if record.backlinks.size > 0 %}
    <section class="links">
      <h2>Rétroliens</h2>
      <ul>
        {% for link in record.backlinks %}
          <li><a href="/records/{{ link }}/">{{ link }}</a></li>
        {% endfor %}
      </ul>
    </section>
  {% endif %}
</article>
